body {
  background-image: url("/images/arches.png");
  font-size: 100%;
  line-height: 1.125em; }

.container {
  width: 640px;
  height: 480px;
  background-color: white;
  overflow: auto;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0 auto;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 3px 3px 5px 6px #cccccc;
  -webkit-box-shadow: 3px 3px 5px 6px #cccccc;
  box-shadow: 3px 3px 5px 6px #cccccc; }
  .container #domain {
    color: #3366ff; }
  .container form label {
    display: block; }
